{{!-- {{outlet}}
<h1>LOGIN</h1>
{{#each log in model}} 
  <div class="well">
      <h4>{{#link-to 'login.edit' login.id}}{{log.username}}{{/link-to}}</h4>
      <h4>{{log.exp}}</h4>
      <h4>{{log.rating}}</h4>
      
      
  </div>
{{/each}}
 --}}

 <h1>hi</h1>
 {{outlet}}
